@import '../App.css';

.nav {
    background: $black;
    padding: 0.8rem 1.2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    
    img {
        height: 5rem;
        width: 5rem;
        border-radius: 100%;
    }
    .nav_links {
        align-self: center;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }
    .nav_link {
        color: $gray;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 1.5rem;
        transition: all .2s linear;
        &:hover {
            color: $green;
        }
    }
}






